.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccb7b7;
  padding: 20px;
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-right: 10px;
}

.footer-item a {
  color: #333;
  text-decoration: none;
}

.footer-item p {
  margin: 0;
}
